
<table cellpadding="15px" width="60%" align="center" bgcolor="#54E822">

	<tr>
		<th colspan="2" align="left">Медведчук Александр Иванович</th>	
	</tr>
	
	<tr>
		<td width="60%" align="center">
			<%= image_tag("avatar.jpeg") %>
		</td>

		<td width="40%" valign="top">
			<ul style=list-style-type:none>
				<li>
					<%= link_to("Обо мне", "#") %>
				</li>
				<li>
					<%= link_to("Мои работы", "#") %>
				</li>
				<li>
					<%= link_to("Сделать заказ", "#") %>
				</li>
				<li>
					<%= link_to("Контакты", "#") %>
				</li>
			</ul>
		</td>
	</tr>

</table> 